.login {
  &__header-space {
    height: 48px;
    width: 100%;
    background-color: #FDFDFD;
  }

  &__header-top-curve {
    background-color: white; //TODO change it to proper color
    height: 30px;
    margin-left: 180px;
    border-radius: 24px 0 0 0;
    border-top: solid rgba(0,0,0,0.1);
  }
}

.invalid {
  border-color: red;
}