<div class="upload-element">
  <span *ngIf="!isUploadingStarted" class="upload-element__name"> 
    {{uploadItem.fileName}}
  </span>
  
  <span *ngIf="isUploadingStarted" class="upload-element__name">
    {{uploadItem.track}} - {{uploadItem.artist}}
  </span>
  <span *ngIf="uploadItem.percentage | async as pct" class="upload-element__right-part">
    <div *ngIf="(uploadItem.snapshot | async) as snap" class="upload-element__size-uploaded">
        {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} 
    </div>
    <div  class="upload-element__progress-container">
      <progress 
        class="upload-element__progress-bar progress"
        [ngClass]="{'is-success': isUploaded, 'is-info': !isUploaded}"
        [value]="pct"
        max="100">            
      </progress>
      <span class="upload-element__percents">{{
        isUploaded
        ? 'uploaded'
        : pct | roundNumber
      }}</span> 
    </div>
  </span>
  
  <div *ngIf="!isUploadingStarted" class="upload-form">
    <form [formGroup]="uploadForm">
      <input
        class="upload-form__track input"
        type="text"
        placeholder="Track"
        formControlName="track"
      >
      <button 
        type="button" 
        class="upload-form__submit button is-rounded"
        [ngClass]="{'is-success': uploadForm.valid}"
        [disabled]="!uploadForm.valid" 
        (click)="startUpload()"
      >
        <i class="fa fa-check"></i>
      </button>
      <input
        class="upload-form__artist input"
        type="text"
        placeholder="Artist"
        formControlName="artist"
      > 
    </form>
  </div>
</div>

