<p>
  login-route works!
</p>
<form [formGroup]="loginForm" (ngSubmit)="standartLogin()">
  <label>
    <input type="email" placeholder="Email" formControlName="email" email="true">
    <div *ngFor="let validation of validationMessages.email">
      <span *ngIf="loginForm.get('email').hasError(validation.type)">{{validation.message}}</span>
    </div>
  </label>
  <label>
    <input type="password" placeholder="password" formControlName="pass">
    <div *ngFor="let validation of validationMessages.password">
      <span *ngIf="loginForm.get('pass').hasError(validation.type)">{{validation.message}}</span>
  </div>
  </label>
  <span *ngIf="errorMessage">{{errorMessage}}</span>
  <input type="submit" (ngSubmit)="standartLogin()" value="Login" [disabled]="!loginForm.valid">  
</form>
<button (click)="googleLogin()">Login with Google</button>