.dropzone { 
  position: relative;
  font-weight: 200;
  height: calc(90% - 20px);
  border: 2px solid transparent;
  border-radius: 30px;
  background: white;
  margin: 10px 5px 0;
  padding: 10px;
  overflow: hidden;

  &.hovering {
      border: 2px solid #3c82f2;//#f16624;
      color: #dadada !important;
  }

  tracks-list{
    position: relative;
    display: block;
    height: calc(100% - 40px);
  }

  .file {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
  }

  .file-label {
    height: 40px;
    width: 40px;
  }

  .file-input {
    opacity: 0;
  }

  .file-cta {
    height: 100%;
    width: 100%;
    padding: 12px !important;
    border-radius: 20px;
  }

  .file-icon {
    margin: 0;
  }

  .upload-label {
    display: block;
    height: inherit;
    margin-left: 10px;
    line-height: 40px;
    overflow: hidden;
  }
}

.upload-bottom-menu {
  position: absolute;
  bottom: 30px;
  display: block;
  min-height: 5px;
  width: 100%;
  background-color: darkgrey;

  .list-top-border {
    height: 4px;
    width: 100%;
  }

  .list-toogle-btn {
    position: relative;
    top: -20px;
    display: block;
    height: 20px;
    width: 40px;
    margin: 0 auto;
    border: none;
    outline: inherit;
    border-radius: 20px 20px 0 0;
    background-color: red;
    transition: height .2s ease, top .2s ease;

    &:hover {
      height: 30px;
      top: -30px;
      cursor: pointer;
    }
  }

  .upload-list {
    display: flex;
    flex-direction: column;
    height: 30vh;
    overflow: auto;
    background-color: white;
    box-shadow: 
        inset 0px 14px 8px -10px rgba($color: #000000, $alpha: .2),
        inset 0px -14px 8px -10px rgba($color: #000000, $alpha: .2); 
    transition: height .4s ease;

    &.hidden{
      height: 0px !important;
    }
  }

  .upload-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    //height: 30px;
    height: auto;
    padding: 0 10px !important;
    overflow: hidden;
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  
  img {
    width: 250px
  }
}



@media only screen and (max-width: 600px) {
  .upload-label {
    display: none !important;
  }
}

@media screen and (max-width: 824px) {
  .upload-list {
    height: calc(100vh - 15px - 50px - 30px) !important;
  }
}