<p>
  registration-route works!
</p>
<form [formGroup]="signUpForm" autocomplete="disabled">
  <label>
    <input 
      type="email" 
      placeholder="Email" 
      formControlName="email"
      [className]="signUpForm.controls.email.valid || !(signUpForm.controls.email.dirty || signUpForm.controls.email.touched) ? 'valid' : 'invalid'"
    >
    <div *ngFor="let validation of validationMessages.email">
      <span *ngIf="signUpForm.get('email').hasError(validation.type) && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)">{{validation.message}}</span>
    </div>
  </label>
  <label>
    <input 
      type="password" 
      placeholder="password" 
      formControlName="pass"
      [className]="signUpForm.controls.pass.valid || !(signUpForm.controls.pass.dirty || signUpForm.controls.pass.touched) ? 'valid' : 'invalid'"
    >
    <div *ngFor="let validation of validationMessages.password">
      <span *ngIf="signUpForm.get('pass').hasError(validation.type) && (signUpForm.controls.pass.dirty || signUpForm.controls.pass.touched)">{{validation.message}}</span>
    </div>
  </label>
  <label>
    <input 
      type="password" 
      placeholder="repeat password" 
      formControlName="confirmPass"
      [className]="!signUpForm.hasError('notSame') || !(signUpForm.controls.confirmPass.touched || signUpForm.controls.confirmPass.dirty) ? 'valid' : 'invalid'"
    >
    <div *ngFor="let validation of validationMessages.confirmPassword">
      <span *ngIf="signUpForm.hasError(validation.type) && (signUpForm.controls.confirmPass.touched || signUpForm.controls.confirmPass.dirty)">{{validation.message}}</span>
    </div>
  </label>
  <span *ngIf="errorMessage">{{errorMessage}}</span>
  <input type="submit" value="Sign up" [disabled]="!signUpForm.valid" (click)="signUp()">  
</form>
<button (click)="test()">test signup</button>