.signup {
  &__header-space {
    height: 48px;
    width: 100%;
    background-color: #FDFDFD;
  }

  &__header-top-curve {
    background-color: #EDEDED;
    height: 30px;
    margin-left: 180px;
    border-radius: 24px 0 0 0;
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.2);
    animation: bg-color-pulse 5s infinite;
  }

  &__header-bottom-space {
    background-color: #EDEDED;
    height: 18px;
    animation: bg-color-pulse 5s infinite;
  }

  &__container {
    height: calc(100% - 48px);
    background-color: #EDEDED;
    animation: bg-color-pulse 5s infinite;
    overflow: hidden;
  }

  &__form {
    display: block;
    height: fit-content;
    width: 300px;
    background-color: #EDEDED;
    padding: 24px;
    border-radius: 24px;
    margin: 50px auto 0;
    margin-left: minmax(auto, auto);
    box-shadow: 0 0 2px 2px #00000033;
  }

  &__header {
    padding: 0 0 10px 10px;
    color: #00BFFF;
    text-shadow: 0px 0px 2px #00BFFF;
  }

  &__email-container,
  &__password-container,
  &__password-repeat-container {
    min-height: 60px;
  }

  &__email-input,
  &__password-input,
  &__password-repeat-input {
    border-radius: 18px;
  }

  &__email-error-field,
  &__password-error-field {
    padding-left: 18px;
  }

  &__submit-error-field {
    padding: 15px;
  }

  &__submit-btn {
    display: block;
    height: 30px;
    width: calc(50% - 5px);
    padding: 5px;
    border-radius: 15px;
    margin: 0 0 0 auto;
    background-color: #fff !important;
    line-height: 18px;

    &:disabled {
      background-color: #EDEDED !important;
    }
  }
}

.invalid {
  border-color: #e74c3c;
}

@media screen and (max-width: 824px) {
  .signup {
    &__form {
      overflow-y: auto;
    }
}
  
}

@media screen and (max-width: 420px) {
  .signup {
    &__header-top-curve {
      margin-left: 140px;
    }
  }
}

@media screen and (max-height: 420px) and (max-width: 824px) {
  .signup {
    &__form {
      margin: 5px auto 0;
    }
  }
}

@media screen and (max-height: 420px) {
  .signup {
    &__form {
      height: 100%;
      width: 95%;
      border-radius: 24px 0 0 0;
      margin: 5px 0 0 auto;
    }
  }
}
