.dropzone { 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column; 
  font-weight: 200;
  height: calc(100% - 20px);
  border: 2px solid #3c82f2;//transparent;
  border-radius: 30px;
  background: white;
  margin: 10px 5px 0;
  overflow: hidden;

  &.hovering {
      border: 2px solid #3c82f2;//#f16624;
      color: #dadada !important;
  }

  .file {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .file-label {
    height: 40px;
    width: 40px;
  }

  .file-input {
    opacity: 0;
  }

  .file-cta {
    height: 100%;
    width: 100%;
    padding: 12px !important;
    border-radius: 20px;
  }

  .file-icon {
    margin: 0;
  }

  .upload-label {
    display: block;
    height: inherit;
    margin-left: 10px;
    line-height: 40px;
    overflow: hidden;
  }
}

.upload-bottom-menu {
  position: absolute;
  bottom: 30px;
  display: block;
  min-height: 5px;
  width: 100%;
  background-color: darkgrey;

  .list-top-border {
    height: 4px;
    width: 100%;
  }

  .list-toogle-btn {
    position: relative;
    top: -20px;
    display: block;
    height: 24px;
    width: 40px;
    margin: 0 auto;
    border: none;
    outline: inherit;
    border-radius: 20px 20px 0 0;
    background-color: red;
    transition: height .2s ease, top .2s ease;

    &:hover {
      height: 34px;
      top: -30px;
      cursor: pointer;
    }
  }

  .upload-list {
    display: flex;
    flex-direction: column-reverse;
    height: 30vh;
    overflow: auto;
    background-color: white;
    box-shadow: 
        inset 0px 14px 8px -10px rgba($color: #000000, $alpha: .2),
        inset 0px -14px 8px -10px rgba($color: #000000, $alpha: .2); 
    transition: height .4s ease;

    &.hidden{
      height: 0px !important;
    }
  }

  .upload-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    height: 30px;
    padding: 0 10px !important;
    overflow: hidden;

    .upload-element-name {
      height: 100%;
      width: 30%;
      line-height: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .upload-right-part {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 16px;
      width: 30%;
      margin: 7px 0;
    }
    
    .upload-progress-container {
      position: relative;
      width: 50%;
    }

    .upload-progress-bar {
      //position: relative;
      display: block;
      margin: 0;
    }
    .upload-element-percents {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: white;
    }
    .upload-element-size-uploaded{
      width: 50%;
      line-height: 100%;
    }
  }

  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
  
  img {
    width: 250px
  }
}



@media only screen and (max-width: 600px) {
  .upload-label {
    display: none !important;
  }
}

@media screen and (max-width: 824px) {
  .upload-list {
    height: calc(100vh - 15px - 50px - 30px) !important;
  }
}