<header class="app-header">
  <div class="app-header__logo">
    <span>Ech</span>
    <span class="app-header__dm-btn" (click)="changeColorMode()">o</span>
  </div>
  <nav class="app-header__nav">
    <a 
      *ngIf="!isHomeRoute"
      class="app-header__nav-item"
      [routerLink]="['/login']"
    >Login</a>
    <a 
      *ngIf="!isHomeRoute"
      class="app-header__nav-item"
      [routerLink]="['/signup']"
    >Sign up</a>
    <a 
      *ngIf="isHomeRoute"
      class="app-header__nav-item"
      (click)="logout()"
    >logout</a>
  </nav>
</header>

<div class="router-container">
  <router-outlet></router-outlet>
</div>
<footer class="app-footer" [ngClass]="{'resized': isHomeRoute}">
  <div class="app-footer__app-name">
    <a href="https://github.com/Terian93/Echo-audio-player/tree/master">Echo - audio player</a>
  </div>
  <div class="app-footer__dev-name">
    <a href="https://www.linkedin.com/in/vvanchak/">Vitaliy Vanchak</a>
  </div>
  <!--<div class="app-footer__color-mode">
    {{darkModeService.darkModeEnabled ? 'lightmode' : 'darkmode'}}
  </div>-->
</footer>